body {
    background-image: url("/assets/img/sparkles.webp");
    background-repeat: repeat;
    background-size: cover;
}

h1, p {
    text-shadow:
        1px 0 black,
        -1px 0 black,
        0 1px black,
        0 -1px black;
}

a {
    text-decoration: none;
}

h1 {
    color: tomato;
    font-family: fantasy;
}

p {
    color: white;
}
